{% extends "base.html" %}

{% block title %}
Unique Page Title
{% endblock %}

{% block content %}

    <div class="grid-wrapper">

        <!-- Forex Column -->
      
            <div class="column">
                
                <div class="row">
                    <h2>Forex</h2>
                {% for ticker, data in forex.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <!-- Modify the ID here -->
                    <span id="{{ ticker.replace('=', '-') }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
                {% endfor %}
            </div>

                <!--  financial news-->
    
                <div class="column">
                <div class="row">
                    <h2>Bloomberg News</h2>
                    <ul>
                        {% for article in news %}
                        <li>
                            <img src="{{ url_for('static', filename='default_thumbnail.jpg') }}" alt="Default Thumbnail" width="100" height="100">
                            <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                            <p>{{ article.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>



        <!-- Bonds Column -->
        
            <div class="column">
                
                <div class="row">
                    <h2>Bonds</h2>
                {% for ticker, data in bonds.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        

        

        <!-- Stocks Column -->
            <div class="column">
                
                <div class="row">
                    <h2>Stocks</h2>
                {% for ticker, data in stocks.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>

                <!--  financial news-->

                <div class="column">
                <div class="row">
                    <h2>Bloomberg News</h2>
                    <ul>
                        {% for article in news %}
                        <li>
                            {% if article.thumbnail %}
                                <img src="{{ article.thumbnail }}" alt="Article Thumbnail" width="100" height="100">
                            {% else %}
                                <img src="{{ url_for('static', filename='default_thumbnail.jpg') }}" alt="Default Thumbnail" width="100" height="100">
                            {% endif %}
                            <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                            <p>{{ article.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
        

        <!-- Commodities Column -->
       
            <div class="column">
               
                <div class="row">
                    <h2>Commodities</h2>
                    {% for ticker, data in commodities.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
    

        <!-- ETFs Column -->
       
            <div class="column">
                
                <div class="row">
                    <h2>ETFs</h2>
                {% for ticker, data in etfs.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>

        <!--  financial news-->

        <div class="column">
            <div class="row">
                <h2>Bloomberg News</h2>
                <ul>
                    {% for article in news %}
                    <li>
                        {% if article.thumbnail %}
                            <img src="{{ article.thumbnail }}" alt="Article Thumbnail" width="100" height="100">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_thumbnail.jpg') }}" alt="Default Thumbnail" width="100" height="100">
                        {% endif %}
                        <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                        <p>{{ article.description }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            
      

        <!-- crypto Column -->
       
            <div class="column">
                
                <div class="row">
                    <h2>Crypto</h2>
                {% for ticker, data in cryptos.items() %}
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>          
        
    </div>

{% endblock %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script> 
                
    document.addEventListener("DOMContentLoaded", function() {
        const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
       
        socket.on('data_update', function(data) {

            for (const [ticker, tickerData] of Object.entries(data.forex)) {
            console.log("Updating ticker:", ticker);
            console.log("Element:", document.getElementById(ticker + '-price'));
            
            document.getElementById(ticker + '-price').textContent = tickerData.price;
            document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.bonds)) {
            console.log("Updating ticker:", ticker);
            console.log("Element:", document.getElementById(ticker + '-price'));

            document.getElementById(ticker + '-price').textContent = tickerData.price;
            document.getElementById(ticker + '-price').style.color = tickerData.color;
            }


            for (const [ticker, tickerData] of Object.entries(data.stocks)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.commodities)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.etfs)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.cryptos)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }
        });

        setInterval(function() {
        socket.emit('request_data'); 
    }, 10000);
    
    });
</script>

</body>
</html>



