<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>MundusCapital</h1>
    </header>
    <img src="{{ url_for('static', filename='images/image_1.jpg') }}" alt="Description of the Image" class="header-image">
    <div class="content">
    <div class="container">
        <!-- Forex Column -->
        <div class="container1">  <!-- You might want to change the class to something else if the positioning isn't right -->
            <div class="column">
                <h2>Forex</h2>
                {% for ticker, data in forex.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>

        <!-- Bonds Column -->
        <div class="container2">  <!-- You might want to change the class to something else if the positioning isn't right -->
            <div class="column">
                <h2>Bonds</h2>
                {% for ticker, data in bonds.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>

        <!-- Stocks Column -->
        <div class="container3">
            <div class="column">
                <h2>Stocks</h2>
                {% for ticker, data in stocks.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>

        <!-- Commodities Column -->
        <div class="container4">
            <div class="column">
                <h2>Commodities</h2>
                {% for ticker, data in commodities.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>

        <!-- ETFs Column -->
        <div class="container5">
            <div class="column">
                <h2>ETFs</h2>
                {% for ticker, data in etfs.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>

        <!-- crypto Column -->
        <div class="container6"> 
            <div class="column">
                <h2>Cryptocurrencies</h2>
                {% for ticker, data in cryptos.items() %}
                    <div class="row">
                        <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                        <span style="color: {{ data.color }};">{{ data.price }}</span></div>
                {% endfor %}
            </div>
        </div>
        

    </div>
</div>

<!--
    <div class="tradingview-chart">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js" async>
    {
    "symbols": [
      [
        "BITSTAMP:BTCUSD|1Y"
      ]
    ],
    "chartOnly": false,
    "width": 1000,
    "height": 500,
    "locale": "en",
    "colorTheme": "dark",
    "autosize": false,
    "showVolume": false,
    "showMA": false,
    "hideDateRanges": false,
    "hideMarketStatus": false,
    "hideSymbolLogo": false,
    "scalePosition": "right",
    "scaleMode": "Normal",
    "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
    "fontSize": "10",
    "noTimeScale": false,
    "valuesTracking": "1",
    "changeMode": "price-and-percent",
    "chartType": "area",
    "maLineColor": "#2962FF",
    "maLineWidth": 1,
    "maLength": 9,
    "lineWidth": 2,
    "lineType": 0,
    "dateRanges": [
      "1d|1",
      "1m|30",
      "3m|60",
      "12m|1D",
      "60m|1W",
      "all|1M"
    ]
  }
    </script>
</div>
-->
<footer>
    Dominykas Andriusis
</footer>

</body>
</html>
