<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
   
    <header>
        <h1>MundusCapital</h1>
    </header>
    <img src="{{ url_for('static', filename='images/image_1.jpg') }}" alt="Description of the Image" class="header-image">
    <div class="content">
    <div class="container">

        <!-- Forex Column -->
        <div class="container1"> 
            <div class="column">
                <h2>Forex</h2>
                {% for ticker, data in forex.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <!-- Modify the ID here -->
                    <span id="{{ ticker.replace('=', '-') }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
                {% endfor %}
            </div>
        </div>


        <!-- Bonds Column -->
        <div class="container2">  
            <div class="column">
                <h2>Bonds</h2>
                {% for ticker, data in bonds.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        </div>

        

        <!-- Stocks Column -->
        <div class="container3">
            <div class="column">
                <h2>Stocks</h2>
                {% for ticker, data in stocks.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- Commodities Column -->
        <div class="container4">
            <div class="column">
                <h2>Commodities</h2>
                {% for ticker, data in commodities.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- ETFs Column -->
        <div class="container5">
            <div class="column">
                <h2>ETFs</h2>
                {% for ticker, data in etfs.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <!-- crypto Column -->
        <div class="container6"> 
            <div class="column">
                <h2>Cryptocurrencies</h2>
                {% for ticker, data in cryptos.items() %}
                <div class="row">
                    <a href="https://finance.yahoo.com/quote/{{ ticker }}" target="_blank">{{ ticker }}</a>
                    <span id="{{ ticker }}-price" style="color: {{ data.color }};">{{ data.price }}</span>
                </div>
            {% endfor %}
            </div>
        </div>
        

    </div>
</div>


<footer>
    Dominykas Andriusis
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script> 
                
    document.addEventListener("DOMContentLoaded", function() {
        const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
       
        socket.on('data_update', function(data) {

            for (const [ticker, tickerData] of Object.entries(data.forex)) {
            console.log("Updating ticker:", ticker);
            console.log("Element:", document.getElementById(ticker + '-price'));
            
            document.getElementById(ticker + '-price').textContent = tickerData.price;
            document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.bonds)) {
            console.log("Updating ticker:", ticker);
            console.log("Element:", document.getElementById(ticker + '-price'));

            document.getElementById(ticker + '-price').textContent = tickerData.price;
            document.getElementById(ticker + '-price').style.color = tickerData.color;
            }


            for (const [ticker, tickerData] of Object.entries(data.stocks)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.commodities)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.etfs)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }

            for (const [ticker, tickerData] of Object.entries(data.cryptos)) {
                console.log("Updating ticker:", ticker);
                console.log("Element:", document.getElementById(ticker + '-price'));

                document.getElementById(ticker + '-price').textContent = tickerData.price;
                document.getElementById(ticker + '-price').style.color = tickerData.color;
            }
        });

        setInterval(function() {
        socket.emit('request_data'); 
    }, 10000);
    
    });
</script>

</body>
</html>
